.container {
  width: 70%;
  margin: auto;
  text-align: center;
 
}

.dice {
  text-align: center;
  display: inline-block;


}

body {
  background-color: #570297;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #59f5d3;
  font-size: 8rem;
  color: #e609e6;
}

p {
  font-size: 2rem;
  color: #fa06b1;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
